body {
  color: #2f5572;
  padding: 25px;
  margin: 20px;
  font-size: 14px;
  -webkit-columns: 300px 2;
     -moz-columns: 300px 2;
          columns: 300px 2;
}

.box a {
    display: block;
    padding: 10px;
  }
